.first {
  background-image: url("./../img/background-first.png");
  background-size: 100% 100%; }

.head {
  padding-top: 2.5rem;
  color: white; }
  .head__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .head__menu__item {
      color: white;
      text-decoration: none; }

.intro {
  position: relative;
  margin-top: 2.5rem;
  color: white;
  display: flex;
  flex-direction: row; }
  .intro__item {
    max-width: 50%; }
  .intro__text {
    display: flex;
    flex-direction: column; }
  .intro__name {
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 3.9rem;
    line-height: 100%; }
    .intro__name__item {
      margin-bottom: 2rem; }
  .intro__desc {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1rem; }
  .intro__signup {
    background: #13907C;
    box-shadow: 0rem 0.5rem 0.75rem rgba(6, 138, 117, 0.81);
    border-radius: 0.75rem;
    border: none;
    margin-bottom: 8rem;
    max-width: 10rem;
    font-weight: 900;
    line-height: 1.2rem;
    color: white;
    padding: 0.5rem 0 0.5rem 0; }
  .intro__photo {
    max-height: 30rem;
    position: absolute;
    left: 40%;
    bottom: -10%;
    max-width: 60%;
    height: auto; }

.item__text {
  text-decoration: none;
  font-style: bold;
  font-size: 1.1rem;
  line-height: 1.35rem;
  max-width: 10rem;
  text-align: right; }
  .item__text > span {
    font-size: 0.95rem; }

.item__link {
  text-decoration: underline;
  color: white; }

.item__logo {
  font-size: 2rem;
  font-weight: 900; }
  .item__logo::before {
    content: '';
    background: url("./../img/logo__tooth.svg") center no-repeat;
    background-size: 1.5rem 1.5rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem; }

.item__city {
  position: relative; }
  .item__city::before {
    position: absolute;
    left: -1.5rem;
    top: -0.25rem;
    content: '';
    background: url("./../img/head__mark.svg") center no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    width: 1.5rem;
    height: 1.5rem; }

.item__tel {
  position: relative; }
  .item__tel::before {
    position: absolute;
    left: -1rem;
    top: 0.5rem;
    content: '';
    background: url("./../img/head__tel.svg") center no-repeat;
    display: inline-block;
    background-size: 1.25rem 1.25rem;
    width: 1.5rem;
    height: 1.5rem; }
