.third {
  background: url("./../img/third/background.png");
  background-size: 100%;
  background-repeat: repeat-y;
  padding-top: 15rem; }
  .third_span {
    color: white;
    font-weight: 900;
    font-size: 35px;
    line-height: 43px;
    display: block;
    text-align: center;
    margin-bottom: 10rem; }

.service {
  min-width: 20rem;
  background-color: white;
  padding: 1.5rem;
  border: 1px solid blue;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #051848;
  margin-right: 10rem; }
  .service_title {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem; }
  .services {
    padding-bottom: 2rem;
    margin-left: 8rem;
    display: flex;
    flex-direction: row; }
  .service_img {
    margin-top: -8rem; }
    .service_img > img {
      width: 100%;
      height: auto; }
  .service_btn {
    display: block;
    margin: auto;
    background: #13907C;
    box-shadow: 0px 10px 15px rgba(6, 138, 117, 0.3);
    border-radius: 15px;
    margin-top: 3rem; }
  .service_first_title {
    margin-top: 3rem; }

.btn {
  margin-top: 3rem; }
  .btn_title {
    padding: 1rem;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: white; }

.swiper-pagination_ex_1 {
  display: flex;
  justify-content: center; }

.swiper-pagination_ex_2 {
  display: flex;
  justify-content: center; }
